<span style="color: red" id="errors-msg"></span>
<%= form_for todo, remote: true do |f|%>
  <div id="form-title" class="form-group">
    <%= f.label :title, "Title"  ,class: "label-control"%>
    <%= f.text_field :title, maxlength: 20, class: "form-control" %>
  </div>
  <div id="form-date" class="form-group">
    <%= f.label :due_date, "Due date" ,class: "label-control"%>
    <div class='input-group date' id='datetimepicker1'>
      <%= f.text_field :due_date, class: "form-control"%> 
      <span class="input-group-addon" id="calender-btn">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div id="form-time" class="form-group">
    <%= f.label :due_time, "Due time" ,class: "label-control"%>
    <div class='input-group date' id='datetimepicker3'>
      <%= f.text_field :due_time, class: "form-control"%> 
      <span class="input-group-addon" id="time-btn">
        <span class="glyphicon glyphicon-time"></span>
      </span>
    </div>
  </div>
  <div id="form-note" class="form-group">
    <%= f.label :note, "Note" ,class: "label-control"%>
    <%= f.text_area :note ,class: "form-control", rows:"2", maxlength:'100'%>    
  </div>
  <div id="form-checkbox">
      <%= f.check_box :check_box, checked: false %>
  </div>
  <div id="form-create-btn">
    <%= f.submit 'Create', class: "create-btn btn btn-primary", style: "float: right"%>
  </div>
<% end %>