<tr id="<%= todo.due_date.strftime('%Y%m%d') + todo.due_time.strftime('%H%M') %>" class="<%= todo.id %>">
  <td class="check-lbl col-xs-1">
    <div class="checkbox-btn"> 
      <%= link_to complete_todo_path(todo), method: :patch, remote: true do %>
        <% if todo.check_box == true %>
          <button class="btn btn-lg"><i class="fa fa-check-square"></i></button>
        <% else %>
          <button class="btn btn-lg"><i class="fa fa-square-o"></i></button>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="col-xs-7 edit-place">
    <span class="title-lbl"><%= todo.title %></span><br>
    <span class="note-lbl"><%= todo.note %></span>
  </td>
  <td class="due-time-lbl col-xs-2"><%= todo.due_time.strftime('%H:%M') %></td>
  <td class="edit-lbl col-xs-1" ><%= link_to '', edit_todo_path(todo), remote: true, class: "btn glyphicon glyphicon-pencil" %></td>
  <td class="destroy-lbl"><%= link_to "", todo_path(todo),remote: true, method: :delete, data:{ confirm: "Are you sure?"}, class: "btn glyphicon glyphicon-trash" %></td>
</tr>
