
<div class="container">
  <div class="nav"> 
    <div id="to-do-list-title" class="col-xs-10">
      To Do List
    </div>
    <div id="new-todo" class="pull-right">
      <button class="plus-sign btn btn-circle-sm btn-primary glyphicon glyphicon-plus" ></button>
    </div>
  </div>
  <div id="new-todo-form">
    <%= render partial: "form", locals: {todo: @todo} %>
  </div>
  <div id="index-container" class="container-fluid">
    <table id="main-table" class="table table-hover col-xs-12">
      <% todos_date = @todos_uniq_date.to_a %>          
      <% for i in 0...todos_date.length %>
          <tr id="<%= todos_date[i].strftime('%Y%m%d') %>" class="no-hover todo-time-label">
            <th class="date-lbl" colspan="6">               
              <span class="date-each" ><%= todos_date[i].strftime('%d') %></span>
              <span class="year-month-each">&nbsp;&nbsp;<%= todos_date[i].strftime('%B %Y') %></span>
              <span class="day-each">&nbsp;&nbsp;<%= todos_date[i].strftime('%a')%><span>
              <span ><%= button_tag '', class: "drop-down-btn btn-sm glyphicon glyphicon-triangle-bottom"%></span>
            </th>
          </tr>
          <% @todos.each do | todo | %>
            <% if todo.due_date ==  todos_date[i] %>
                <%= render partial: "todo", locals: {todo: todo} %>
            <% end %>
        <% end %>
    <% end %>   
  </table>
</div>
</div>

