<div class="nav container-fluid col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3"> 
  <div id="to-do-list-title" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    Detail
  </div>
</div>
<div class="container container-fluid col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <div class="row">
    <div class="container2 col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <table id="detail-table" class="table table-striped">
        <tr>
          <td class="col-xs-3 col-sm-3 col-md-4 col-lg-3">Subject</td>
          <td class="todo-show col-xs-9 col-sm-9 col-md-8 col-lg-9"><%= @todo.title %></td>      
        </tr>
        <tr>
          <td class="col-xs-3 col-sm-3 col-md-4 col-lg-3">Due date</td>
          <td class="col-xs-9 col-sm-9 col-md-8 col-lg-9"><%= @todo.due_date.strftime('%Y/%m/%d %A') %></td>
        </tr>
        <tr>
          <td class="col-xs-3 col-sm-3 col-md-4 col-lg-3">Due time</td>
          <td class="col-xs-9 col-sm-9 col-md-8 col-lg-9"><%= @todo.due_time.strftime('%H:%M') %></td>
        </tr>
        <tr>
          <td class="col-xs-3 col-sm-3 col-md-4 col-lg-3">Note</td>
          <td class="note-show col-xs-9 col-sm-9 col-md-8 col-lg-9"><%= @todo.note %></td>    
        </tr>
      </table>

      <%= link_to 'Edit', edit_todo_path(@todo), class: "btn btn-primary", style: "float: right" %><%= link_to 'Back', todos_path, class: "btn btn-danger", style: "float: right" %> 
    </div>
  </div>
</div>